/* your styles go here */
.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom-micro {
  transition: transform .2s; /* Animation */
}

.zoom-micro:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.fit-image{
width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}
